/* Add new font to the style file */

@font-face {
    font-family: "Bebas";
    src: url("../fonts/BEBAS___-webfont.eot");
    src: url("../fonts/BEBAS___-webfont.eot?#iefix")format("embedded-opentype"), url("../fonts/BEBAS___-webfont.woff") format("woff"), url("../fonts/BEBAS___-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* Style the main class */

.main {
    margin: auto;
    width: 1012px;
    font-family: Bebas, Arial, sans-serif;
    padding-top: 20px;
}


/* Style the header */

.header {
    width: 942px;
    height: 102px;
    padding: 0px 0px 0px 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.logo {
    width: 320px;
    height: 40px;
    float: left;
}

.jetro {
    font-size: 32px;
    color: rgb(234, 94, 61);
}

.ro {
    color: rgb(246, 172, 163);
}

.menu {
    width: auto;
    height: auto;
    float: right;
}

.menu-list {
    width: auto;
    height: auto;
}

.menu-item {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

.menu-links {
    color: rgb(186, 186, 186);
    text-decoration: none;
}

.menu-item:last-of-type {
    padding-right: 0;
}

.blog-page {
    color: rgb(233, 96, 60);
}

.blog {
    width: 100%;
    height: auto;
    background: rgb(233, 96, 60);
    float: left;
    padding: 20px;
    box-sizing: border-box;
    font-size: 22px;
    color: white;
}


/* Style the first section */

.first-section {
    width: 100%;
    height: 650px;
    background: white;
}

.first-section-two {
    width: 100%;
    height: 930px;
    background: white;
}


/* first-element-of-section */

.first-element-of-section {
    width: 60px;
    height: 60px;
    background: white;
    float: left;
    margin-right: 10px;
}

.red-squere {
    width: 60px;
}


/* second-element-of-section */


/* I'he used -two suffixe for second page style */

.second-element-of-section {
    width: 675px;
    height: auto;
    background: white;
    float: left;
    margin-right: 50px;
}

.second-element-of-section-two {
    width: 675px;
    height: auto;
    background: white;
    float: left;
    margin-right: 50px;
    margin-left: 70px
}

.img {
    width: auto;
    height: auto;
}

.img-two {
    width: auto;
    height: auto;
    float: left;
    margin: 0px 20px 20px 0px;
}

.main-img {
    width: 100%;
}

.main-img-two {
    width: 200px;
    border: 2px groove rgb(186, 186, 186);
}

.other-information {
    width: auto;
    ;
    height: 275px;
    float: left;
    background: white;
    margin-right: 50px;
    font-size: 18px;
}

.second-page-par {
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.text-header {
    display: block;
    font-size: 12px;
    color: rgb(233, 96, 60);
    margin: 20px 10px 0px 0px;
}

.text {
    display: inline-block;
    font-size: 10px;
    color: rgb(186, 186, 186);
    margin: 10px 10px 0px 0px;
    font-family: sans-serif;
}

.top-header {
    display: block;
    font-size: 20px;
    margin: 20px;
    color: rgb(233, 96, 60);
}

.first-info {
    font-size: 14px;
    font-family: sans-serif;
}

.first-info-two {
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 16px;
}

.d {
    font-family: sans-serif;
    font-size: 32px;
    color: rgb(233, 96, 60);
    float: left;
    margin: 12px 5px 0px 0px;
    font-weight: bold;
}

.quote {
    font-family: sans-serif;
    font-size: 14px;
    border-left: 8px solid rgb(233, 96, 60);
    margin-left: 50px;
    margin-top: 16px;
    padding-left: 15px;
}

.text-elements-one {
    font-family: sans-serif;
    font-size: 14px;
    float: left;
    width: 310px;
    height: auto;
    margin-right: 25px;
    margin-top: 35px;
}

.text-elements-two {
    font-family: sans-serif;
    font-size: 14px;
    float: left;
    width: 200px;
    height: auto;
    margin-right: 25px;
    margin-top: 25px;
}

.second-element-border {
    width: 100%;
    height: 15px;
    background-image: url(../img/second-element-border.png);
    float: left;
}


/* third-element-of-section */

.third-element-of-section {
    width: 217px;
    height: auto;
    background: white;
    float: left;
}

.third-headers {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 3px;
    color: rgb(233, 96, 60);
}

.border {
    float: left;
    width: 100px;
    height: 16px;
    background-image: url(../img/about-jetro-border.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

#first-border {
    width: 121px;
}

#second-border {
    width: 128px;
}

#third-border {
    width: 106px;
}

.content {
    font-family: sans-serif;
    margin: 25px 0px 40px 0px;
    font-size: 14px;
}

.photos {
    width: 100%;
    height: auto;
}

.photo {
    width: 50px;
    height: 50px;
    float: left;
    background: rgb(243, 174, 158);
    border: 1px solid rgb(232, 95, 63);
    margin: 1px 1px 1px 1px;
}


/* Style footer */

.footer {
    width: 942px;
    height: auto;
    background: rgb(233, 96, 60);
    margin-left: 70px;
    box-sizing: border-box;
    padding-bottom: 60px;
    padding: 40px 0px 85px 30px;
}

.elements-of-footer {
    width: 260px;
    height: auto;
    background: rgb(233, 96, 60);
    margin-right: 45px;
    float: left;
}

.elements-of-footer:last-of-type {
    margin-right: 0px;
}

.footer::after {
    content: "";
    display: table;
    clear: both;
}

.title {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-content {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

.footer-content-time {
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(186, 186, 186);
}

.list-of-links {
    width: 250px;
    height: auto;
    background: rgb(233, 96, 60);
    float: left;
}

.links-items {
    width: 40px;
    height: 40px;
    background: white;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.links {
    width: 40px;
}
